<div fxLayout="row wrap" style="margin: 7px;" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" *ngFor="let blog of page.blogs" fxFlex.xs="100" fxFlex.gt-xs="50">
    <mat-card (click)="navigateToDetailPage(blog)" style="margin: 7px; ">
      <mat-card-header>
        <mat-card-title>{{blog.title}}</mat-card-title>
        <mat-card-subtitle>{{blog.description}}</mat-card-subtitle>
        <img mat-card-avatar [src]="blog.image">
      </mat-card-header>
    </mat-card>
  </div>
</div>